<% include header.ejs%>
<div id="main">
	<div id="content">
		<div id="single-content">
			<div>
				<h3 class="single-title"><%-title%></h3>
			</div>
			<div class="tags-time">
				<div class="tags">标签:<%=tags%></div>
				
				<div class="post-time"><%=time%></div>
				<div class="comment-num">
					
				</div>
			</div>
			<div style="height:75px;padding-top:10px;">
				<a href="<%=link%>" rel="nofollow" target="_blank" class="shop-link big-link zhida">直达链接</a>
			</div>
			<div class="single">
				<%-content%>
			</div>
			<div id="goshop">
				<a href="<%=link%>" rel="nofollow" target="_blank" class="shop-link big-link goshopping">前去购买</a>
			</div>
			<!-- JiaThis Button BEGIN -->
			<div class="jiathis_style_24x24" style="  float: right;
			  height: 50px;">
				<a class="jiathis_button_qzone"></a>
				<a class="jiathis_button_tsina"></a>
				<a class="jiathis_button_tqq"></a>
				<a class="jiathis_button_weixin"></a>
				<a class="jiathis_button_renren"></a>
				<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
			</div>
			<div style="clear:both;"></div>
			<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
			<!-- JiaThis Button END -->
		</div>
		<div id="comment-out">
			
		</div>
		<div style="clear:both;"></div>
	</div>
	<div id="sideBar">
		
	</div>
	<div style="clear:both;"></div>
</div>



</body>
</html>